# --- REPEAT_START msk ---
resource "aws_msk_cluster" "{{app_sanitized}}_kafka" {
  cluster_name           = "${var.project_name}-{{heroku_app}}-kafka"
  kafka_version          = "3.5.1"
  number_of_broker_nodes = {{broker_count}}

  broker_node_group_info {
    instance_type   = "{{broker_instance_type}}"
    client_subnets  = {{private_subnets}}
    security_groups = [aws_security_group.messaging.id]

    storage_info {
      ebs_storage_info {
        volume_size = {{storage_per_broker_gb}}
      }
    }
  }

  encryption_info {
    encryption_in_transit {
      client_broker = "TLS"
      in_cluster    = true
    }
  }

  tags = { HerokuApp = "{{heroku_app}}", Source = "heroku-kafka:{{plan}}" }
}
# --- REPEAT_END msk ---
